
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright-cucumber-project/playwright-cucumber-project/reports/cucumber-report.json
playwright-cucumber-project/test-results/.last-run.json
